<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-card class="container" style="width: 350px;">
          <mat-card-header style="margin: 2px auto;">
              <mat-card-title class="text-center mb-4">Login Form</mat-card-title>
              <mat-card-subtitle>Please enter your credentials</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <div class="row">
                  <mat-form-field class="col">
                      <input matInput placeholder="Email" formControlName="email">
                      <mat-error *ngIf="getControl('email')?.hasError('required')">Email is required</mat-error>
                      <mat-error *ngIf="getControl('email')?.hasError('email')">Invalid email format</mat-error>
                  </mat-form-field>
              </div>
              <div class="row">
                  <mat-form-field class="col">
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" type="password">
                      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                      <mat-error *ngIf="getControl('password')?.hasError('required')">Password is required</mat-error>
                  </mat-form-field>
              </div>
          </mat-card-content>
          <mat-card-actions style="margin: 1px auto;">
              <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
          </mat-card-actions>
      </mat-card>
      <div class="container" style="display: flex; justify-content: center; align-items: center; margin: 10px auto;">
        <span>Don't have a account? </span>
        <a mat-button routerLink="/signup">Sign Up</a>
      </div>
    </form>
</div>